.all
  -# .all__header
    -# .all__header__logo
    -#   グループを作成しました
  .all__sidebar
    = render 'devise/shared/sidebar'

  .all__chat
    .all__chat__group
      .all__chat__group__class
        .all__chat__group__class__name
          サンプル

        .all__chat__group__class__member
          Member : aaaa

      .all__chat__group__edit
        Edit

    .all__chat__main
      = render @messages

    = form_for [@group, @message] do |f|
      .all__chat__footer
        .all__chat__footer__class
          .all__chat__footer__class__input
            = f.text_field :content, class: 'all__chat__footer__class__input__message', placeholder: 'type a message'
            .all__chat__footer__class__input__message
              = f.label :image, class: 'all__chat__footer__class__input__box' do
                = fa_icon 'picture-o', class: 'all__chat__btn'
                = f.file_field :image, class: 'all__chat__file'
          .all__chat__footer__class__send
            = f.submit 'Send', class: 'all__chat__footer__class__send', id: 'new_message'

            